
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #001234;
}

#text {
    color: green;
    font-size: 2rem;
}

.hide {
    display: none;
}

#gift-box {
    font-size: 5em;
}
/* 
.containers {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    width: 90%;
    max-width: 500px;
    margin: auto;
    max-height: 90%;
    height: 300px;
}

#main-heading {
    margin: 25px auto;
    text-align: center;
    font-size: 2.5rem;
}

.list {
    list-style-type: none;
    color: black;
    text-align: center;
    font-size: 1.7rem;
}

.list li {
    background: white;
    max-width: 90%;
    border: 1px black solid;
    margin: auto;
} */

#main-heading {
    color: white;
    text-align: center;
    margin-top: 90px;
    font-size: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    color: white;
}

.boxes {
 text-align: center;
 font-size: 0.75rem;
}

#heading {
    margin: 40px;
}

.box-1,.box-2,.box-3 {
    border: 2px solid white;
    border-radius: 15px;
    width: 90%;
    max-width: 200px;
    height: 250px;   
    margin: 20px;
}

button {
    margin-top: 20px;
    font-size: 1.3rem;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    background: #001234;
    color: white;
    width: 80px;
    cursor: pointer;
}

.reveal-btn {
    width: 400px;
    height: 200px;
}

.hidden-content {
    display: none; 
    font-size: 1.2rem;
    width: 95%;
    max-width: 900px;
    height: 200px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    background: #001234;
    color: white;
}

.hidden-content.reveal-btn {
    display: block;
    text-align: center;
    align-content: center;
}


@media (max-width: 320px) {
    .container {
        flex-direction: column;
    }

    #main-heading {
       /*  color: white;
        text-align: center;
        margin-top: 90px; */
        font-size: 3rem;
    }

    .reveal-btn {
        width: 85%;
        height: 100px;
    } 
}